#titulo-registro {
	background:
		url(../imgs/flecha.png) left no-repeat,
		url(../imgs/flechaIzq.png) right no-repeat;
	-webkit-background-size: 60px auto;
	-moz-background-size: 60px auto;
	background-size: 60px auto;

	font-size: 2.5em;

	font-family: 'Rajdhani', sans-serif;

	color: #00bcd4;
	text-shadow: 0 0 0px #00bcd4, 0 0 8px #00bcd4, 0 0 10px #0097a7;

	/* Animacio */
	animation: moverDerecha 2s forwards;
}


@keyframes moverDerecha {
	0% {
		background-position: left center, right center;
	}

	50% {
		/*posiciona el primer fondo a 10px desde l'esquerra a la dreta,
		98% pociciona el segon fondo al 98% del ample del contenedor
		desplaçant-lo cap a l'esquerre*/
		background-position: 10px center, 98% center;
	}

	100% {
		background-position: left center, right center;
		/*torna al puesto*/
	}
}

/*------ formulari------*/
span {
	font-size: 1em;
	font-family: 'Rajdhani', sans-serif;
}

input {
	color: #281780;
	background-color: transparent;
	border-width: 0 0 1px 0;
	display: block;
	margin: 10px auto 10px;
	font-style: italic;
	font-family: Times, "Times New Roman", serif;
	font-size: 1.1em;
	padding: 5px 30px 5px 30px;
	width: 50%;
	text-align: center;
}


label,
button {
	cursor: pointer;
	font-family: 'LeagueGothic';
	font-size: 1.5em;
}

label {
	display: block;
	margin: auto;
	text-align: center;
}


form {
	margin: 10px auto;
	border-width: 2px 0;
	width: 710px;
	text-align: center;
	padding: 10px;
	background: rgba(0, 0, 0, 0.2) bottom center;
	border-radius: 5px 5px 5px 5px;
}

/* eliminar punts de la llista */
form ul {
	list-style-type: none;
}

form ul li {
	margin-bottom: 15px;
}

form p {
	text-align: center;
}

button {
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #333;
	background: -moz-radial-gradient(30% 120%, rgba(144, 144, 144, 1) 0%, rgba(72, 72, 72, 1) 50%);
	background: -o-radial-gradient(30% 120%, rgba(144, 144, 144, 1) 0%, rgba(72, 72, 72, 1) 50%);
	background: -webkit-radial-gradient(30% 120%, rgba(144, 144, 144, 1) 0%, rgba(72, 72, 72, 1) 50%);
	background: radial-gradient(30% 120%, rgba(144, 144, 144, 1) 0%, rgba(72, 72, 72, 1) 50%);
	color: #fff;
	font-style: italic;
	font-size: 2em;
	padding: 10px 30px;
	margin: 10px auto;
	opacity: 0.8;
	transition: opacity .25s linear;
	-webkit-transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
}

button:hover {
	opacity: 1;
}

/* configuracio valid e invalid */
:invalid {
	box-shadow: none;
}

/*apa<recer asterisco i pintat en roig los camps que siguen requerits*/
input:required:invalid {
	box-shadow: 0 0 10px red;
	background: url('../imgs/required.png') right no-repeat;

}

/* aplicar estilos de campo valido o invalido unicamente cuando elemento tenga el foco */
input:required:invalid:focus {
	background: url('../imgs/invalid.png') right no-repeat;
}

/*cuando tenga el foco y sea valido*/
input:required:valid:focus {
	background: url('../imgs/valid.png') right no-repeat;
}

@font-face {

	font-family: 'LeagueGothic';
	src: url('../fonts/League_Gothic-webfont.eot');
	src: url('../fonts/League_Gothic-webfont.eot?') format('eot'),
		url('../fonts/League_Gothic-webfont.woff') format('woff'),
		url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
		url('../fonts/League_Gothic-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aguafina';
	src: url('../fonts/AguafinaScript-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

/* Media querys */
@media all and (max-width: 768px) {
	form {
		width: 80%;
		font-size: 1em;
	}

	input,
	select,
	button {
		width: 80%; /* espai mes reduit */
		font-size: 1em;
	}

	#titulo-registro {
		font-size: 1.5em;
	}

	label {
		font-size: 1em;
	}

}

/* Pantallas pequeñas (móviles) */
@media all and (max-width: 480px) {
	form {
		width: 90%;
		padding: 10px;
		border-width: 1px 0;
	}
	#titulo-registro {
		font-size: 1.5em;
		padding-bottom: 10px;
		text-align: center;
	}
	input,
	select,
	button {
		width: 100%;
		font-size: 1em;
		padding: 5px;
	}

	form ul li {
		margin-bottom: 10px;
	}

	label {
		font-size: 1em;
	}
	button {
		padding: 8px;
		font-size: 1.2em;
	}
}